/* FONT */
$font-light: "Poppins-Light";
$font-thin: "Poppins-Thin";
$font-italic: "Poppins-Italic";
$font-regular: "Poppins-Regular";
$font-semiBold: "Poppins-SemiBold";
$font-bold: "Poppins-Bold";
$font-black: "Poppins-Black";

/* COLOR */
$blue: #2C6BFF;
$white: #fff;
$black: #000;

.candidate_details_modal{
    padding: 20px;

    .modal-dialog{
        max-width: 1070px;
        width: 1070px;

        .modal-content{
            border: none;

            .modal-header{
                padding: 21px 17px 0 0;
                border: none;

                .btn-close{
                    box-shadow: none;
                    color: #394A64;
                    outline: none;
                }
            }

            .modal-body{
                .block_details{
                    &:first-child{
                        display: flex;
                        margin-bottom: 35px;

                        img{
                            margin-right: 60px;
                            width: 440px;
                            height: 555px;
                        }

                        .user_details{
                            h2{
                                color: $black;
                                font: 26px/30px $font-semiBold;
                                margin-bottom: 12px;
                            }

                            >span{
                                color: $black;
                                display: block;
                                font: 16px/20px $font-light;
                                margin-bottom: 33px;
                            }

                            >p{
                                color: #929A9F;
                                font: 16px/20px $font-light;
                                margin-bottom: 28px;
                            }

                            .action_btn{
                                margin-bottom: 35px;
                                display: flex;
                                align-items: center;

                                button, a{
                                    background: $blue;
                                    border: none;
                                    color: $white;
                                    font: 16px/20px $font-semiBold;
                                    height: 40px;
                                    outline: none;
                                    text-decoration: none;
                                    width: 206px;

                                    &:first-child{
                                        align-items: center;
                                        display: flex;
                                        justify-content: center;
                                        margin-right: 24px;
                                    }

                                    &.disabled{
                                        opacity: .3;
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                    }

                    &:nth-child(2){
                        .user_details{
                            align-items: flex-start;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-start;

                            .details{
                                width: 48.1%;
                            }
                        }
                    }

                    .details{
                        margin-bottom: 43px;

                        h3{
                            font: 22px/25px $font-light;
                            margin-bottom: 21px;
                        }

                        p, span, ul li{
                            color: #929A9F;
                            font: 16px/20px $font-regular;
                        }

                        ul{
                            list-style: none;
                            padding-left: 0;

                            &.with_list_style{
                                padding-left: 2rem;
                                position: relative;

                                li{
                                    &:before{
                                        content: "";
                                        position: absolute;
                                        width: 18px;
                                        height: 18px;
                                        border-radius: 50%;
                                        background: #C4C4C4;
                                        left: 0px;
                                    }

                                    margin-bottom: 10px;

                                    &:last-child{
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }

                        ul:not(.with_list_style){
                            display: flex;
                            list-style: none;
                            flex-direction: column;
                            max-height: 450px;
                            flex-wrap: wrap;
                            align-content: flex-start;

                            li{
                                margin: 0 30px 21px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}