// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    font-family: Tahoma, sans-serif;
}
.create_comment_form{
    margin-top: 10px;
}
ul li{
    list-style: none;
    margin-top: 5px;
}