@import url("../../../global/global.scss");

/* FONT */
$font-light: "Poppins-Light";
$font-thin: "Poppins-Thin";
$font-italic: "Poppins-Italic";
$font-regular: "Poppins-Regular";
$font-semiBold: "Poppins-SemiBold";
$font-bold: "Poppins-Bold";
$font-black: "Poppins-Black";

/* COLOR */
$blue: #2C6BFF;
$white: #fff;
$black: #000;

.resume_links_block{
    margin: 0 auto;
    padding: 80px 30px 30px 30px;
    width: 1070px;

    .details_wrapper{
        align-items: flex-start;
        border-bottom: 1px solid #A4B0C0;
        display: flex;
        padding: 66px 0 50px;
    
        &:last-child{
            border-bottom: none;
        }
    }

    .details_block{
        display: flex;
        flex-direction: column;
        margin-top: 1px;
        width: 100%;
    
        h3{
            font: 16px/20px $font-bold;
            margin-bottom: 20px;
        }
    
        .portfolio_links{
            position: relative;
    
            .porfolio_link_block{
                width: 435px;
                position: relative;
    
                .action_button{
                    .add_url{
                        background: transparent;
                        border-radius: 4px;
                        border: 1px solid #DEE5EF;
                        color: #394A64;
                        cursor: pointer;
                        font: 12px/16px $font-semiBold;
                        height: 32px;
                        outline: none;
                        width: 75px;
    
                        &.no_data{
                            opacity: .5;
                            pointer-events: none;
                        }
                    }
    
                    .remove_url{
                        background: url("https://assets.codingdojo.com/learn_platform/global/close_icon_new.png") no-repeat;
                        border: none;
                        cursor: pointer;
                        height: 33px;
                        left: 450px;
                        outline: none;
                        position: absolute;
                        top: 11px;
                        width: 33px;
                    }
                }
            }
    
            .message_error{
                bottom: 40px;
            }
        }
    
        .submit_details_btn{
            background: $blue;
            border-radius: 4px;
            border: none;
            color: $white;
            font: 16px/20px $font-semiBold;
            height: 46px;
            letter-spacing: 2px;
            margin: 0 0 60px auto;
            width: 165px;
        }
    
        .location_block{
            margin-bottom: 50px;
        }
    
        .check_box_block{
            margin-bottom: 40px;
    
            label{
                margin-bottom: 0 !important;
            }
        }
    
        .upload_block{
            margin-bottom: 60px;

            >label{
                background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23CCCCCCFF' stroke-width='3' stroke-dasharray='10%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
                border-radius: 4px;
                cursor: pointer;
                padding: 0 15px;
                width: 435px;
                display: flex;
                align-items: center;
                justify-self: center;
    
                p{
                    margin: 0;
    
                    &.placeholder_file_upload{
                        opacity: .5;
                    }
                }
            }
    
            >p{
                color: rgba(0, 0, 0, 0.6);
                font: 12px/16px $font-regular;
                margin: 5px 0 0 0;
            }
    
            &.upload_error{
                >label{
                    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23D62E24FF' stroke-width='3' stroke-dasharray='10%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
                }
    
                >p{
                    color: #D62E24;
                }
            }
        }
    
        .short_bio_block{
            margin-bottom: 59px;
    
            label{
                height: unset;
    
                textarea{
                    background: none;
                    border-radius: 5px;
                    border: 1px solid #E0E0E0;
                    font: 16px/20px $font-regular;
                    max-height: 250px;
                    max-width: 435px;
                    min-height: 144px;
                    outline: none;
                    padding: 20px 17px;
                    width: 435px;
                }
            }
        }
    
        .available_start_date_block{
            margin-bottom: 22px;
        }
    
        .current_desired_job_block{
            margin-bottom: 38px;
        }
    
        .years_experience_block, .vaccination_status_block, .gender_identity_block{
            margin-bottom: 19px;
        }
    
        .racial_group_block{
            margin-bottom: 34px;
        }
    
        >div{
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    label{
        height: 56px;
        position: relative;
        display: block;
        width: 450px;
        margin: 0 20px 0 0;
    
        &:last-child{
            margin-bottom: 0;
        }
    
        .input_title{
            background: $white;
            color: #666666;
            font: 12px/16px $font-regular;
            left: 12px;
            opacity: 0;
            padding: 5px;
            position: absolute;
            top: -13px;
            transition: .25s ease-in-out;
        }
    
        .message_error{
            bottom: -21px;
            color: #D62E24;
            font: 12px/16px $font-regular;
            left: 0;
            position: absolute;
        }
    }

    input[type="text"], input[type="email"]{
        border-radius: 4px;
        border: 1px solid #E0E0E0;
        font: 16px/20px $font-regular;
        height: 56px;
        margin-bottom: 28px;
        outline: none;
        padding: 0 16px;
        width: 100%;
    
        &:focus{
            & ~ .input_title{
                opacity: 1;
                transition: .25s ease-in-out;
            }
    
            &::placeholder{
                opacity: 0;
            }
        }
    }

    .show_details{
        flex: 1;

        h2{
            color: $black;
            font: 18px/22px $font-bold;
            margin: 0 0 16px 0;
        }

        .show_details_block{
            h3{
                color: $black;
                font: 16px/20px $font-semiBold;
                margin: 0 0 16px 0;
            }
    
            >span, a, >ul{
                color: #192B46;
                display: block;
                font: 16px/20px $font-regular;
                margin: 0 0 48px 0;
                text-decoration: none;
            }

            .portfolio_list{
                padding: 0;
                list-style: none;

                li{
                    margin-bottom: 32px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }

            &:last-child{
                >span, a, >ul{
                    margin-bottom: 0;
                }
            }
        }
    }

    .header_update_information{
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 24px;
        margin-left: auto;
        width: 100%;

        button{
            border-radius: 4px;
            border: none;
            font: 14px/18px $font-semiBold;
            height: 36px;
            margin-left: 25px;
            min-width: 85px;
            padding: 0 8px;

            svg{
                margin-right: 5px;
            }

            &.show_resume_links{
                background: transparent;
                color: $blue;
            }

            &.update_all_resume_links{
                background: $blue;
                color: white;
            }
        }
    }

    #resume_links_form{
        background: $white;
        min-height: 800px;
        padding: 0 32px;

        .update_details_icon_btn{
            background: transparent;
            border: none;
            color: #5E6871;
            margin: 0 0 0 auto;
            outline: none;
            padding: 0;
        }

        .user_information{
            align-items: center;
            display: flex;
            border-bottom: 1px solid #A4B0C0;
            padding-bottom: 47px;
            position: relative;

            .details_block{
                padding-top: 80px;
            }

            img{
                border-radius: 50%;
                border: 5px solid #05AAE1;
                height: 170px;
                left: -5px;
                position: absolute;
                top: -100px;
                width: 170px;
            }

            .update_details_icon_btn{
                margin-top: 35px;
            }

            .show_details{
                padding-top: 98px;

                span{
                    display: block;

                    &:first-child{
                        font: 22px/26px $font-bold;
                        margin-bottom: 3px;
                    }

                    &:nth-child(2){
                        font: 16px/20px $font-semiBold;
                        margin-bottom: 13px;
                    }

                    &:last-child{
                        font: 14px/18px $font-regular;
                    }
                }
            }
        }

        .candidate_information{
            .details_block{
                .location_input_details{
                    display: flex;
                    flex-wrap: wrap;

                    .react-dropdown-select{
                        margin: 0 20px 20px 0;
                        width: 450px !important;
                    }
                }
            }
        }

        .candidate_information, .education, .work_experience, .more_about_you {
            .details_block{
                margin-top: 0;
            }
        }
    }
}